version: "3.8"

services:
  web:
    build: .
    image: my-flask-app:latest
    volumes:
      - ./:/app:rw
    ports:
      - "5000:5000"
    environment:
      FLASK_APP: app.py
      FLASK_RUN_HOST: 0.0.0.0
      URL: "${URL:-http://192.168.1.17:5000}"
    command: ["gunicorn", "--bind", "0.0.0.0:5000", "app:app"]
    restart: unless-stopped