<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <!-- picocss.com/ -->
        <link
            rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.classless.min.css"
            >
            
        <title>Error</title>
    </head>
    <body>
      
      <main>
      <!-- Preview -->
      <section id="preview">
        <h2>Error</h2>
      </section>
             
        </form>
        </section>
        </main>
    </body>
    </html>