<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <!-- picocss.com/ -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
            >
        <title>Youtube to music downloader</title>
    </head>
    <body>
      <main>
      <!-- Preview -->
      <section id="preview">
        <h2>Download Music</h2>

        <form method="POST" action="/">
            <input type="text" id="user_input" name="user_input" placeholder="Youtube Url">
            <input type="submit" value="Download">
        </form>
        </section>
        </main>
    </body>
    </html>