 <!-- templates/index.html -->
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <!-- picocss.com/ -->
        <link
            rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.classless.min.css"
            >
             <link
            rel="stylesheet"
      href="{{ HOME }}/static/css/main.css"
            >
        <title>Music Listr</title>
    </head>
    <body>
        <h1>My Downloads</h1>
        <ul>
            {% for item in items %}
                <li>
                <a href="{{ HOME }}/static/downloads/{{item}}">   {{item}} </a>
                </li>
            {% endfor %}
        </ul>
    </body>
    </html>